# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the most popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used librairies used by Data Scientists includes:
* Pandas
* Matplotlib
* Seaborn
* NumPy
* Scikitlearn

|Data Science Tools|
|------------------|
|VSCODE|
|JupyterLab|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply then add integers
op = (3*4) + 5
print (op)

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
x = minutes/60
print(round(x, 2))

3.33

## Author
Henri-Philippe Konan